node_modules
npm-debug.log*
.git
.gitignore
.vscode
.idea
android
android-native
.android
.android-home
.android-home-native
.gradle-home
.gradle-home-native
tools
*.apk
*.log
*.err
*.out
desktop.ini
